p {
    margin: 0;
    font-size: 1.5rem;
}

.item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0 1rem;
    background-color: rgb(66, 66, 66);
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem rgba(32, 25, 25, 0.5);
    margin: 1rem;
    width: 100%;
    max-width: 30rem;
    height: 10rem;
    color: white;
    position: relative;
}

.checked .paragraph {
    text-decoration: line-through;
    color: #4caf50;
    font-style: italic;
}

.delete-button {
    background-color: #d50101;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#open-modal {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.addTask-header {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#text-input {
    margin-bottom: 10px;
}

.category {
    font-weight: bold;
}

#submit-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 20px;
}

#submit-button:hover {
    background-color: #45a049;
}

/* Styling checkbox */
.checkbox {
    width: 20px;
    height: 20px;
}

.item-container .checkbox:checked {
    background-color: green;
    border-radius: 50%;
}

.category-text {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem;
    position: absolute;
    top: 0;
    left: 0;
}

.paragraph {
    font-size: 1.5rem;
    margin: 1rem;
    width: 100%;
    word-wrap: break-word;
    text-align: center;
}

.btn {
    width: 100px;
}

.wrap {
    display: flex;
    justify-content: center;
}
